<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Get-it</title>
<link rel="stylesheet" href="{{{{ url_for('static', filename='getit.css') }}}}">
</head>
<body>

<main>
<header class="cabecalho">
    <img class="logo" src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}">
    <div>
        <h1>Get-it</h1>
        <p>Como o Post-it, mas com outro verbo</p>
    </div>
</header>

<form class="formulario" action="/submit" method="POST">
    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo" />
    <label for="detalhes">Detalhes</label>
    <textarea id="detalhes" name="detalhes"></textarea>
    <input class="botao" type="submit" value="Adicionar anotação" />
</form>

<ul class="lista-notas">
{notes}
</ul>
</main>

</body>
</html>